In [1]:
from __future__ import print_function, division

import nsfg

nsfg.py is created by the author to read the .dct and .dat data files and convert them into pandas dataframe

In [2]:
preg = nsfg.ReadFemPreg()
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

The below operation creates two sub-dataframes: one for the first-born babies and another for the remaining babies.  Please note that only live births are included in these dataframes ('outcome'==1)

In [71]:
preg_first = preg[(preg['outcome']==1) & (preg['birthord']==1.0)]
preg_other = preg[(preg['outcome']==1) & (preg['birthord']!=1.0)]

The author also provides a simple function (below) to calculate the Cohen's D

In [18]:
def CohenEffectSize(group1, group2):
    """Computes Cohen's effect size for two groups.
    
    group1: Series or DataFrame
    group2: Series or DataFrame
    
    returns: float if the arguments are Series;
             Series if the arguments are DataFrames
    """
    diff = group1.mean() - group2.mean()

    var1 = group1.var()
    var2 = group2.var()
    n1, n2 = len(group1), len(group2)

    pooled_var = (n1 * var1 + n2 * var2) / (n1 + n2)
    d = diff / np.sqrt(pooled_var)
    return d

In [20]:
import numpy as np

The CohenEffectSize function accepts as inputs two series or two dataframes.  In our case, we will pass the total weight(lb) columns from our two sub-dataframes as inputs (below)

In [72]:
CohenEffectSize(preg_first['totalwgt_lb'], preg_other['totalwgt_lb'])

-0.088672927072602006

My opinion is that the effect size is relatively not significant.  A number to compare would be the Cohen'D for comparing male and female heights, which is 1.7 (author provided this statistic).  -0.09 is much less than this statistic.
The below cell calculates the Cohen's D for pregnancy lengths.  The result is a higher Cohen's D which still falls well below the male/ female heights comparison metric.

In [21]:
CohenEffectSize(preg_first['prglngth'], preg_other['prglngth'])

0.028879044654449883